<h1><%= t(:reminder_title) %></h1>

<p>
  Vos collègues n'attendent plus que votre vote pour savoir où ils vont manger ! <br />
  N'attendez plus, <%= link_to "Allez-y tout de suite !", dashboard_restaurants_url %>
</p>