<h1 style="color:#236B8E;text-align:center;"><%= t(:reminder_title).html_safe %></h1>

<p style="color:#78AB46;text-align:center;">
  Vos collègues n'attendent plus que votre vote pour savoir où ils vont manger ! <br />
  N'attendez plus, <%= link_to "Allez-y tout de suite !", dashboard_restaurants_url, :style => "text-decoration:none;color:#3B5323;" %>
</p>