.page-header
  %h2
    = @user.first_name
    .pull-right= link_to '<i class="icon-pencil" style="font-size: 24px;"></i>'.html_safe, edit_user_path(current_user)
%br

- @user.attributes.first(5).each do |key, value|
  - unless key == "id"
    .row
      .span2
        %p
          = key.camelize
          \:
      .span3
        %p= (key == 'email') ? mail_to(value, value) : value

.row
  .span2
    %p Rôle(s):
  .span3
    %p=@user.roles_name.compact.join(', ')

.row
  .span2
    %p Groupe(s):
  .span3
    %p=(@user.groups.map{|group| link_to group.name, group}.compact.join(', ')).html_safe
